.calendar-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-top: 40px;
  /* 给上方留点空间 */
}

.calendar-page h2 {
  font-size: 2.5rem;
  margin: 10;
}

.react-calendar {
  border: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
}

.react-calendar__tile--now {
  background: #4caf50;
  color: white;
  border-radius: 8px;
}

.react-calendar__tile--active {
  background: #81c784;
  color: white;
  border-radius: 8px;
}

.react-calendar__tile {
  width: 60px;
  /* 横向尺寸 */
  height: 50px;
  /* 纵向尺寸 */
  margin: 40px;
  /* 每个格子之间的间距 */
  box-sizing: border-box;
}

.todo-list {
  margin-top: 2rem;
  text-align: left;
}

.todo-list ul {
  list-style: none;
  padding-left: 0;
}

.todo-list li {
  background-color: #f5f5f5;
  margin-bottom: 0.5rem;
  padding: 0.7rem;
  border-radius: 8px;
}
