h3 {
  margin: 0;
}

#new-todo-form {
  display: flex;
  flex-direction: column;
}

ul {
  padding: 0;
}

.list-item {
  list-style: none;
  margin-bottom: 1rem;
}

button {
  cursor: pointer;
}

[data-button-delete] {
  margin-left: 0.5rem;
}

.card {
  background-color: rgba(124, 255, 174, 0.61);
  width: auto;
  padding: 8px;
  outline: 2px solid #333;
}

.toast {
  position: fixed;
  top: 20px;
  right: 20px;
  background: #333;
  color: #fff;
  padding: 12px 20px;
  border-radius: 4px;
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

.toast.hide {
  opacity: 0;
}

.card-container {
  display: flex;
  flex-direction: row;
  /* 横向排列，默认也是row */
  flex-wrap: wrap;
  /* 如果想换行可以加这个 */
  gap: 1rem;
  /* 卡片之间的间距 */
  justify-content: flex-start;
  /* 从左开始排列 */
  align-items: flex-start;
  /* 从上对齐 */
}